.form__container {
  font-family: DINNextLTPro;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(70, 70, 70, 0.7);
    z-index: -1;
  }
  .form__img--bg {
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .form__btn--close {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: 10px;
  }
  .form__btn--close.desktop {
    right: 10px;
    top: 10px;
    height: 25px;
    border: none;
    border-radius: 15px;
    background: #fff;
    color: #666;
    padding: 7px 13px;
    &:hover {
      background: #666;
      color: #fff;
    }
  }
  .form__btn--close.mobile {
    border: 1px solid #ccc;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 30px;
    padding: 5px;
    right: 20px;
    top: 20px;
    width: 30px;
  }
  .form__title--main {
    color: #fff;
    display: table;
    margin: 0 auto;
    padding-top: 4rem;
    h1 {
      border-bottom: 1px solid #ccc;
      color: #fff;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.5;
      padding: 0 100px;
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 100;
      line-height: 2.5;
      text-align: center;
    }
  }
  .form__wizard-container {
    color: #fff;
    height: 300px;
    .form__step {
      .form__title--inner {
        h3 {
          align-items: center;
          color: #fff;
          display: flex;
          font-size: 1.5rem;
          justify-content: center;
          font-weight: 300;
          transition: opacity .3s ease;
          margin: 2rem 0;
        }
        i {
          height: 40px;
          width: 40px;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 5px;
          margin-right: 10px;
          font-size: 28px;
        }
      }
      .form__content {
        display: flex;
        flex-flow: wrap;
        width: 750px;
        margin: auto;
        .form__step--left {
          display: flex;
          justify-content: flex-end;
          width: 50%;
        }
        .form__step--right {
          width: 50%;
        }
        .form__text {
          color: #fff;
          display: inline-flex;
          font-size: 1rem;
          font-weight: 100;
          margin: 0;
          transition: margin .3s ease;
          vertical-align: middle;
          &.placeholder {
            color: rgba(204, 204, 204, .6);
            font-style: italic;
          }
          span {
            font-weight: 100;
            margin: auto 5px;
          }
          &.label {
            font-weight: 300;
            font-size: .8rem;
            padding: 2px 5px 2px 10px;
          }
        }
        .form__input-container {
          display: inline-flex;
          justify-content: center;
          &--error {
            background: url(/assets/img/error-cocha.png) no-repeat 95% transparent;
            background-size: 20px;
          }
        }
        .form__input {
          height: 30px;
          font-size: 1rem;
          border: none;
          border-bottom: 1px solid #ccc;
          padding: 2px 5px 2px 10px;
          color: #fff;
          background: 0 0;
          outline: 0;
          font-weight: 300;
          width: 100%;
          &::placeholder {
            color: rgba(204, 204, 204, .6);
            font-style: italic;
          }
          &--error {
            border-color: red;
          }
          &--consultant {
            display: inline-flex;
          }
        }
        .form__select--container {
          background: url(/assets/img/arrow_down_white.png) no-repeat 95% rgba(0, 0, 0, 0);
          background-size: 10px 6px;
          border-bottom: 1px solid #ccc;
          color: #fff;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 300;
          height: 30px;
          padding: 0px 25px 0px 10px;
          max-width: 180px;
          width: 100%;
        }
        .form__select--options-container {
          background: #fff;
          min-width: 180px;
          width: 100%;
          z-index: 1;
          color: #666;
          margin-left: -10px;
          margin-top: 5px;
        }
        .form__select--option {
          border-top: 1px solid #ccc;
          height: auto;
          padding: 5px 10px;
          cursor: pointer;
          transition: all .3s ease;
          &:hover {
            background: #666;
            color: #fff;
          }
        }
        .form__spinner {
          border-bottom: 1px solid #ccc;
          display: inline-flex;
          width: 33%;
          margin: 0 1rem;
          padding: 0 10px;
          justify-content: space-between;
          .form__passenger-buttons {
            i {
              cursor: pointer;
              &.disabled {
                cursor: default;
                opacity: .5;
              }
            }
          }
        }
        .form__text--age {
          font-weight: 100;
          font-size: .8rem;
        }
        .form__textarea {
          background: rgba(255, 255, 255, 0.8);
          width: 100%;
          height: 120px;
          border: none;
          padding: 10px;
          &::placeholder {
            color: black;
            font-size: .8rem;
            font-weight: 100;
          }
        }
        .form__date {
          &--container {
            max-width: 350px;
            position: relative;
          }
          &--calendar-container {
            position: absolute;
            width: 400px;
          }
          &--text {
            background: 0 0;
            border-bottom: 1px solid #ccc;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            height: 30px;
            padding: 2px 5px 2px 10px;
            font-weight: 300;
            width: 100%;
          }
        }
        .form__radio {
          &--container {
            cursor: pointer;
          }
        }
        .form__input-phone {
          background: transparent;
          border: none;
          color: #ffffff;
          outline: 0;
          &::placeholder {
            color: rgba(204, 204, 204, .6);
            font-style: italic;
          }
          &--container {
            display: flex;
            border-bottom: 1px solid #ccc;
          }
          &--country {
            width: 15%;
          }
          &--area {
            width: 10%;
          }
          &--number {
            width: 75%;
          }
        } // Step 4
        .form__error-container {
          background: url(/assets/img/warning-cocha.png) no-repeat 5% rgba(243, 163, 0, 0.15);
          background-size: 1rem;
          border: 1px solid #f3a300;
          border-radius: 10px;
          color: #f3a300;
          padding: 5px 20px 5px 30px;
          font-weight: 100;
          font-size: .8rem;
          margin: 1rem auto;
        }
        .form__button-container {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          .form__button {
            cursor: pointer;
            margin: 15px;
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: 0 0;
            color: #fff;
            font-weight: 300;
            transition: background .4s ease;
            padding: 0 2.5rem;
            outline: 0;
            &:hover,
            &--selected {
              background: rgba(255, 255, 255, 0.4);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .form__steps {
    color: #fff;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin: 1rem auto;
    &--number {
      font-weight: 100;
      text-align: center;
    }
    &--bullets {
      color: rgba(255, 255, 255, 0.3);
    }
    .current {
      color: #ffffff
    }
  }
  .form__action-buttons {
    color: #ffffff;
    margin: 0 auto;
    .form__button {
      background: transparent;
      border: 1px solid #ccc;
      border-radius: 50%;
      height: 2.5rem;
      margin: 0 10px;
      width: 2.5rem;
      transition: width .2s ease;
      i {
        align-items: center;
        color: #ccc;
        display: flex;
        justify-content: center;
      }
      &--consultant {
        background: #E72125;
        border-color: #E72125;
        border-radius: 18px;
        color: #ffffff;
        width: 115px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .form__button--sep {
      border-right: 1px solid #ccc;
      height: 2rem;
      margin: 0 15px;
      outline: 0;
    }
  }
  .form__success {
    color: #ffffff;
    display: flex;
    justify-content: center;
    &--container {
      width: 40rem;
    }
    &--img {
      max-width: 100px;
      margin: 1.5rem 0;
    }
    &--title {
      font-weight: 400;
    }
    &--text {
      font-weight: 300;
      border-top: 1px solid rgba(204, 204, 204, 0.8);
      border-bottom: 1px solid rgba(204, 204, 204, 0.8);
      p {
        margin: 1.5rem 0;
      }
    }
  }
}
