<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="form__container">
  <img [src]="getFormBackgroundDesktop()" class="d-none d-md-block form__img--bg desktop" alt="" />
  <img [src]="getFormBackgroundMobile()" class="d-block d-md-none form__img--bg mobile" alt="" />

  <!-- Close Buttons -->
  <button class="d-none d-md-block form__btn--close desktop"> cerrar
    <i class="cch-close"></i>
  </button>
  <button class="d-md-none form__btn--close mobile">
    <i class="cch-close"></i>
  </button>

  <!-- Large Form -->
  <div class="form__large" *ngIf="largeFormSteps !== 6 && formType === 'large'">
    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <div class="form__title--main">
            <h1>Cuéntanos del crucero que estás buscando</h1>
            <h2>Completa este formulario para que nuestro consultor te ayude a encontrar tu crucero ideal</h2>
          </div>
        </div>
      </div>

      <!-- Form Steps -->
      <div class="row">
        <div class="col-md-12">
          <form [@myAnimation]="largeFormSteps" class="form__wizard-container" [ngSwitch]="largeFormSteps">

            <!-- Step 1 -->
            <div *ngSwitchCase="1" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-idea"></i> Tu idea</h3>
              </div>
              <div class="form__content">
                <div class="form__step--left">
                  <span class="form__text">Quiero descubrir</span>
                  <div class="form__select--container">
                    <div #region class="d-none d-md-block" (click)="onClickIsDropdownVisible()" [ngClass]="{'form__input-container--error': validationErrors}">
                      <span *ngIf="regionName === ''" class="form__text placeholder">Región</span>
                      <span>{{regionName}}</span>
                    </div>
                    <div [@fadeInOut] *ngIf="isDropdownVisible" class="form__select--options-container">

                      <div class="form__select--option" (click)="onClickIsDropdownVisible(); regionName = 'África'">
                        <span class="text"> África </span>
                      </div>

                      <div class="form__select--option" (click)="onClickIsDropdownVisible(); regionName = 'Centro y Sudamérica'">
                        <span class="text"> Centro y Sudamérica </span>
                      </div>

                      <div class="form__select--option" (click)="onClickIsDropdownVisible(); regionName = 'Norteamérica'">
                        <span class="text"> Norteamérica </span>
                      </div>

                      <div class="form__select--option" (click)="onClickIsDropdownVisible(); regionName = 'Oriente y Oceanía'">
                        <span class="text"> Oriente y Oceanía </span>
                      </div>

                      <div class="form__select--option" (click)="onClickIsDropdownVisible(); regionName = 'Europa'">
                        <span class="text"> Europa </span>
                      </div>
                    </div>
                    <select class="d-md-none">
                      <option value="? string: ?"></option>

                      <option class="" value="en pareja">
                        en pareja </option>

                      <option class="" value="en familia">
                        en familia </option>

                      <option class="" value="entre amigos">
                        entre amigos </option>

                      <option class="" value="solo">
                        solo </option>

                    </select>
                  </div>
                </div>
                <div class="form__step--right">
                  <span class="form__text">, para visitar</span>
                  <div class="form__input-container" [ngClass]="{'form__input-container--error': validationErrors}">
                    <input #ciudades (input)="validationErrors = false" class="form__input" [ngClass]="{'form__input--error': validationErrors}"
                      placeholder="Ciudades" type="text">
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 2 -->
            <div *ngSwitchCase="2" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-adult-boy"></i> Pasajeros</h3>
              </div>
              <div class="form__content">

                <div class="form__spinner">
                  <div class="form__text">Adultos
                    <span>(&ge; 12 años)*</span>
                  </div>
                  <div class="form__passenger-buttons">
                    <i class="cch-mob-minus" [ngClass]="{'disabled': adults == 1}" (click)="onRemoveAdults()"> </i>
                    <i class="cch-mob-more" (click)="onAddAdults()"> </i>
                  </div>
                  <div class="form__text">
                    {{adults}}
                  </div>
                </div>


                <div class="form__spinner">
                  <div class="form__text">Niños
                    <span>(&ge; 12 años)*</span>
                  </div>
                  <div class="form__passenger-buttons">
                    <i class="cch-mob-minus" [ngClass]="{'disabled': kids == 0}" (click)="onRemoveKids()"> </i>
                    <i class="cch-mob-more" (click)="onAddKids()"> </i>
                  </div>
                  <div class="form__text">
                    {{kids}}
                  </div>
                </div>


                <div class="form__text--age">
                  <span>* Edad a la fecha de viaje</span>
                </div>

                <div class="col-12">
                  <span class="form__text">Comentarios (opcional)</span>
                  <div class="form__textarea-container">
                    <textarea class="form__textarea" placeholder="Lo que buscas, ocasión especial, etc"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 3 -->
            <div *ngSwitchCase="3" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-calendar-when"></i> Fechas de viaje</h3>
              </div>
              <div class="form__content">
                <div class="col-12 form__input-container">
                  <div class="form__text"> Del </div>
                  <div class="form__date--container">
                    <div class="form__date--text" (click)="onClickStartDateVisible()">09 mar 2018</div>
                    <div [@fadeInOut] *ngIf="startDateVisible" class="form__date--calendar-container">
                      <!-- <cocha-calendar identifier="start-date" paramLimits="calendarLimits" mode="start" [rangeSize]="" [whiteList]="cruiseDepartureDate"
                        [(start)]="dates.departure" [(end)]="dates.returning" (startChange)="selectDate($event)" (endChange)="selectDate($event)">
                      </cocha-calendar> -->
                    </div>
                  </div>
                  <div class="form__text"> al </div>
                  <div class="form__date--container">
                    <div class="form__date--text" (click)="onClickEndDateVisible()">18 mar 2018</div>
                    <div [@fadeInOut] *ngIf="endDateVisible" class="form__date--calendar-container">
                      <!-- <cocha-calendar identifier="end-date" paramLimits="calendarLimits" mode="end" [rangeSize]="" [whiteList]="cruiseDepartureDate"
                        [(start)]="dates.departure" [(end)]="dates.returning" (startChange)="selectDate($event)" (endChange)="selectDate($event)">
                      </cocha-calendar> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 4 -->
            <div *ngSwitchCase="4" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-room-night"></i> Preferencias cabinas</h3>
              </div>
              <div class="form__content">
                <div class="form__button-container">
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Interiores'}" (click)="cabinType = 'Interiores'; validationErrors = false"
                    type="button">
                    Interiores
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Vista al Mar'}" (click)="cabinType = 'Vista al Mar'; validationErrors = false"
                    type="button">
                    Vista al Mar
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Balcón'}" (click)="cabinType = 'Balcón'; validationErrors = false"
                    type="button">
                    Balcón
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Suites'}" (click)="cabinType = 'Suites'; validationErrors = false"
                    type="button">
                    Suites
                  </button>
                  <button class="form__button form__button--wide" [ngClass]="{'form__button--selected': cabinType=='Necesito recomendación.'}"
                    (click)="cabinType = 'Necesito recomendación.'; validationErrors = false" type="button">
                    No lo sé.
                    <span class="form__button--text">Necesito recomendación</span>
                  </button>
                </div>
                <div class="form__error-container" *ngIf="validationErrors">

                  <span class="form__error--text">Debes seleccionar una cabina.</span>
                </div>
              </div>
            </div>

            <!-- Step 5 -->
            <div *ngSwitchCase="5" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-support"></i> Datos de contacto</h3>
              </div>
              <div class="form__content">
                <div class="col-6" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Nombres</span>
                  <input #nombres class="form__input" placeholder="ej: Juan Pérez" [ngClass]="{'form__input--error': validationErrors}" (input)="validationErrors = false">
                </div>
                <div class="col-6" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Apellidos</span>
                  <input #apellidos class="form__input" placeholder="ej: Rojas Vásquez" [ngClass]="{'form__input--error': validationErrors}"
                    (input)="validationErrors = false">
                </div>

                <div class="col-4" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Email</span>
                  <input #email class="form__input" placeholder="mail@mail.com" type="email" [ngClass]="{'form__input--error': validationErrors}"
                    (input)="validationErrors = false">
                </div>

                <div class="col-4" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Teléfono</span>
                  <div class="form__input-phone--container">
                    <input class="form__input-phone form__input-phone--country" maxlength="2" placeholder="56" value="56" type="text" [ngClass]="{'form__input--error': validationErrors}">
                    <input class="form__input-phone form__input-phone--area" maxlength="1" placeholder="9" type="text" [ngClass]="{'form__input--error': validationErrors}">
                    <input class="form__input-phone form__input-phone--number" minlength="6" maxlength="8" placeholder="12345678" type="text" [ngClass]="{'form__input--error': validationErrors}">
                  </div>
                </div>

                <div class="col-4" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Presupuesto por persona</span>
                  <input #presupuesto class="form__input" placeholder="$1.000.000" type="number" [ngClass]="{'form__input--error': validationErrors}">
                </div>

                <div class="col-12 mt-4">
                  <div class="form__input--consultant">
                    <span>Ya tienes un consultor COCHA (*) </span>
                    <div class="form__radio--container" (click)="consultant = 'Sí'">
                      <i class="cch-circle-o" [ngClass]="{'cch-mob-check': consultant === 'Sí'}"></i>
                      <span class="form__radio--text">Si</span>
                    </div>
                    <div class="form__radio--container" [ngClass]="{'active': consultant === 'No'}" (click)="consultant = 'No'">
                      <i class="cch-circle-o" [ngClass]="{'cch-mob-check': consultant === 'No'}"></i>
                      <span class="form__radio--text">No</span>
                    </div>
                  </div>
                  <div [@fadeInOut] *ngIf="consultant === 'Sí'" class="col-4 form__input--consultant" [ngClass]="{'form__input-container--error': validationErrors}">
                    <input #consultantName class="form__input" placeholder="Nombre de tu consultor" [ngClass]="{'form__input--error': validationErrors}">
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!-- Steps -->
      <div class="row">
        <div class="form__steps">
          <!-- Step Number -->
          <div class="form__steps--number">
            <span>{{largeFormSteps}}</span>
            <span>/</span>
            <span>5</span>
          </div>
          <!-- Step Bullets -->
          <div class="form__steps--bullets">
            <i class="cch-circle-mz" [ngClass]="{'current': largeFormSteps==1}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': largeFormSteps==2}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': largeFormSteps==3}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': largeFormSteps==4}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': largeFormSteps==5}"></i>
          </div>
        </div>
      </div>

      <!-- Step Buttons -->
      <div class="row">
        <div class="form__action-buttons">
          <button class="btn form__button" [disabled]="largeFormSteps == 1" (click)="onBack();">
            <i class="cch-arrow-left"></i>
          </button>
          <span class="form__button--sep"></span>
          <button class="btn form__button" [ngClass]="{'form__button--consultant': largeFormSteps==5}" (click)="onNext();">
            <i class="cch-arrow-right" [ngClass]="{'d-none': largeFormSteps==5}"></i>
            <span [ngClass]="{'d-none': largeFormSteps!==5}">Solicitar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Short Form -->
  <div class="form__short" *ngIf="shortFormSteps !== 4 && formType === 'short'">
    <div class="container">
      <!-- Title -->
      <div class="row">
        <div class="col-md-12">
          <div class="form__title--main">
            <h1>Cuéntanos del crucero que estás buscando</h1>
            <h2>Completa este formulario para que nuestro consultor te ayude a encontrar tu crucero ideal</h2>
          </div>
        </div>
      </div>

      <!-- Form Steps -->
      <div class="row">
        <div class="col-md-12">
          <form [@myAnimation]="shortFormSteps" class="form__wizard-container" [ngSwitch]="shortFormSteps">

            <!-- Step 1 -->
            <div *ngSwitchCase="1" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-adult-boy"></i> Pasajeros</h3>
              </div>
              <div class="form__content">

                <div class="form__spinner">
                  <div class="form__text">Adultos
                    <span>(&ge; 12 años)*</span>
                  </div>
                  <div class="form__passenger-buttons">
                    <i class="cch-mob-minus" [ngClass]="{'disabled': adults == 1}" (click)="onRemoveAdults()"> </i>
                    <i class="cch-mob-more" (click)="onAddAdults()"> </i>
                  </div>
                  <div class="form__text">
                    {{adults}}
                  </div>
                </div>


                <div class="form__spinner">
                  <div class="form__text">Niños
                    <span>(&ge; 12 años)*</span>
                  </div>
                  <div class="form__passenger-buttons">
                    <i class="cch-mob-minus" [ngClass]="{'disabled': kids == 0}" (click)="onRemoveKids()"> </i>
                    <i class="cch-mob-more" (click)="onAddKids()"> </i>
                  </div>
                  <div class="form__text">
                    {{kids}}
                  </div>
                </div>


                <div class="form__text--age">
                  <span>* Edad a la fecha de viaje</span>
                </div>

                <div class="col-12">
                  <span class="form__text">Comentarios (opcional)</span>
                  <div class="form__textarea-container">
                    <textarea class="form__textarea" placeholder="Lo que buscas, ocasión especial, etc"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 2 -->
            <div *ngSwitchCase="2" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-room-night"></i> Preferencias cabinas</h3>
              </div>
              <div class="form__content">
                <div class="form__button-container">
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Interiores'}" (click)="cabinType = 'Interiores'; validationErrors = false"
                    type="button">
                    Interiores
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Vista al Mar'}" (click)="cabinType = 'Vista al Mar'; validationErrors = false"
                    type="button">
                    Vista al Mar
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Balcón'}" (click)="cabinType = 'Balcón'; validationErrors = false"
                    type="button">
                    Balcón
                  </button>
                  <button class="form__button" [ngClass]="{'form__button--selected': cabinType=='Suites'}" (click)="cabinType = 'Suites'; validationErrors = false"
                    type="button">
                    Suites
                  </button>
                  <button class="form__button form__button--wide" [ngClass]="{'form__button--selected': cabinType=='Necesito recomendación.'}"
                    (click)="cabinType = 'Necesito recomendación.'; validationErrors = false" type="button">
                    No lo sé.
                    <span class="form__button--text">Necesito recomendación</span>
                  </button>
                </div>
                <div class="form__error-container" *ngIf="validationErrors">

                  <span class="form__error--text">Debes seleccionar una cabina.</span>
                </div>
              </div>
            </div>

            <!-- Step 3 -->
            <div *ngSwitchCase="3" class="form__step">
              <div class="form__title--inner">
                <h3>
                  <i class="cch-support"></i> Datos de contacto</h3>
              </div>
              <div class="form__content">
                <div class="col-6" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Nombres</span>
                  <input #nombres class="form__input" placeholder="ej: Juan Pérez" [ngClass]="{'form__input--error': validationErrors}" (input)="validationErrors = false">
                </div>
                <div class="col-6" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Apellidos</span>
                  <input #apellidos class="form__input" placeholder="ej: Rojas Vásquez" [ngClass]="{'form__input--error': validationErrors}"
                    (input)="validationErrors = false">
                </div>

                <div class="col-6" [ngClass]="{'form__input-container--error': validationErrors}">
                  <span class="form__text--label">
                    Email</span>
                  <input #email class="form__input" placeholder="mail@mail.com" type="email" [ngClass]="{'form__input--error': validationErrors}"
                    (input)="validationErrors = false">
                </div>

                <div class="col-6">
                  <span class="form__text--label">
                    Teléfono</span>
                  <div class="form__input-phone--container">
                    <input class="form__input-phone form__input-phone--country" maxlength="2" placeholder="56" value="56" type="text">
                    <input class="form__input-phone form__input-phone--area" maxlength="1" placeholder="9" type="text">
                    <input class="form__input-phone form__input-phone--number" minlength="6" maxlength="8" placeholder="12345678" type="text">
                  </div>
                </div>

                <div class="col-12 mt-4">
                  <div class="form__input--consultant">
                    <span>Ya tienes un consultor COCHA (*) </span>
                    <div class="form__radio--container" (click)="consultant = 'Sí'">
                      <i class="cch-circle-o" [ngClass]="{'cch-mob-check': consultant === 'Sí'}"></i>
                      <span class="form__radio--text">Si</span>
                    </div>
                    <div class="form__radio--container" [ngClass]="{'active': consultant === 'No'}" (click)="consultant = 'No'">
                      <i class="cch-circle-o" [ngClass]="{'cch-mob-check': consultant === 'No'}"></i>
                      <span class="form__radio--text">No</span>
                    </div>
                  </div>
                  <div [@fadeInOut] *ngIf="consultant === 'Sí'" class="col-4 form__input--consultant">
                    <input class="form__input" placeholder="Nombre de tu consultor">
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!-- Steps -->
      <div class="row">
        <div class="form__steps">
          <!-- Step Number -->
          <div class="form__steps--number">
            <span>{{shortFormSteps}}</span>
            <span>/</span>
            <span>3</span>
          </div>
          <!-- Step Bullets -->
          <div class="form__steps--bullets">
            <i class="cch-circle-mz" [ngClass]="{'current': shortFormSteps==1}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': shortFormSteps==2}"></i>
            <i class="cch-circle-mz" [ngClass]="{'current': shortFormSteps==3}"></i>
          </div>
        </div>
      </div>

      <!-- Step Buttons -->
      <div class="row">
        <div class="form__action-buttons">
          <button class="btn form__button" [disabled]="shortFormSteps == 1" (click)="onBack();">
            <i class="cch-arrow-left"></i>
          </button>
          <span class="form__button--sep"></span>
          <button class="btn form__button" [ngClass]="{'form__button--consultant': shortFormSteps == 3 }" (click)="onNext();">
            <i class="cch-arrow-right" [ngClass]="{'d-none': shortFormSteps==3}"></i>
            <span [ngClass]="{'d-none': shortFormSteps!==3}">Solicitar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Success Message -->
  <div class="form__success" *ngIf="largeFormSteps === 6 || shortFormSteps === 4">
    <div class="form__success--container text-center">
      <div class="form__success--img-container">
        <img class="form__success--img rounded-circle" src="http://placehold.it/1000x1000" />
      </div>
      <div class="form__success--title">
        <h3>¡Gracias {{nombres}}!</h3>
      </div>
      <div class="form__success--text">
        <p>Tu solicitud ha sido enviada con éxito.
          <br> Te pedimos quedar atento a tu teléfono, un consultor te llamará a la brevedad.</p>
      </div>
      <div class="form__success--json">
        <p>Tipo Formulario: {{formType}} </p>
        <p>Region: {{regionName}}</p>
        <p>Ciudad: </p>
        <p>Cant. Adultos: {{adults}} </p>
        <p>Cant. Niños: {{kids}}</p>
        <p>Comentarios: {{comments}} </p>
        <p>Fecha Inicio: {{startDate}} </p>
        <p>Fecha Fin: {{endDate}} </p>
        <p>Cabina: </p>
        <p>Nombre: </p>
        <p>Apellidos: </p>
        <p>Email: </p>
        <p>Teléfono: </p>
        <p>Presupuesto por Persona: </p>
        <p>Tiene consultor: </p>
        <p>Nombre Consultor: </p>
      </div>
    </div>
  </div>
</div>
